*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
    height: 100vh;
    background-color: #F1EAFF;
    background: linear-gradient(#e1d6f7, #cebef1);
}
#header{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48px;
    background-color: #ad89f3;
    border-bottom: solid white 2px;
}

.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: 510px;
    height: 560px;
    border: solid white 2px;
    border-radius: 5px;
    padding: 60px;
    padding-top: 40px;
}
.login-container>hr{
    /* margin: 0 60px; */
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    height: 3px;
}
.login-title, .login-mssg{
    color: rgb(85, 84, 84);
    font-size: 2.2rem;
    /* padding: 60px; */
    /* padding-top: 40px; */
    padding-bottom: 20px;
    font-weight: 600;
}
.login-mssg{
    padding-top: 0;
    font-size: 0.9rem;
}
.sub-form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* padding: 0 60px; */
    height: 100%;
    /* border: solid; */
    padding-top: 60px;
}
.sub-form>.submit-btn{
    margin-top: 45px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #c4abf7;
}
.sub-form>input{
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 5px;
    padding: 8px;
    /* padding-top: 10px 5px; */
    outline: none;
    /* border: none; */
    border: solid white 2px;
    background: none;
    background-color: #d3c5f3;
    border-radius: 5px;
    font-size: 1rem;
}
.sub-form a{
    text-decoration: none;
    color: rgb(52, 58, 105);
}
.forget-pass{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}
.no-acc{
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
@media (max-width:1100px){
    .login-container{
        margin-top: 8%;
    }
}
@media (max-width:570px){
    .login-container{
        border: none;
        width: 100%;
        margin-top: 0px;
    }

}
@media (max-width:500px){
    .login-container{
        padding: 35px;
    }
}
@media (max-height:700px){
    .login-container{
        margin-top: 2%;
    }
}
@media (max-height: 650px){
    .login-container{
        height: calc(100%-48px);
    }
}
@media (max-width: 450px){
    html{
        font-size: 14px;
    }
}
@media (max-width: 350px){
    .sub-form>input{
        height: 40px;
    }
}