*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}
#wrapper{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1EAFF;
    height: 100vh;
}
#header{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48px;
    background-color: #ad89f3;
    border-bottom: solid white 2px;
}

.motivation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    width: 500px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(49, 49, 49);
    /* color: grey; */
}
.workspaces{
    position:relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.side-panel{
    /* position: absolute; */
    position: relative;
    height: 100%;
    width: 0px;
    background-color: #d7c4fd;
    border-right: solid white 2px;
    transition: width 0.2s;
    visibility: hidden;
    font-size: 1.1rem;
    font-weight: 500;
}
.panel-item{
    text-decoration: none;
    padding-left: 25px;
    height: 70px;
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: background-color 0.15s;
}

.panel-item:hover{
    color: rgb(49, 49, 49);
    
    background-color: #bc9ef7;
    transition: background-color 0.2s;
}

.sidebar-open{
    visibility: visible;
    height: 100%;
    width: 350px;
    background-color: #d7c4fd;
    border-right: solid white 2px;
    transition: width 0.2s;
}

.side-toggle{
    visibility: visible;
    position:absolute;
    height: 40px;
    width: 30px;
    border: none;
    /* border: white solid 2px; */
    right: -30px;
    top:calc(100% / 2.3);
    background: none;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    color: rgb(170, 168, 168);
    transition: color 0.1s;
}
.side-toggle:hover{
    color: black;
    transition: 0.2s;
}
.profile{
    width: 100%;
    height: 100px;
    border-bottom: solid white 2px;
}
.content{
    padding-left: 100px;
    padding-right: 100px;
    /* border: solid; */
    width: 100%
}
.task-content{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.home-content{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.statistics-content{
    width: 100%;
    height: 100%;
    /* display: none; */
}
.community-content{
    width: 100%;
    height: 100%;
}
.content-head{
    height: 100px;
    padding: 15px 0px;
    font-size: 3.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.content-body::-webkit-scrollbar {
    display: none;
}
.content-body{
    height: calc(100vh - 48px - 150px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.add-task{
    display: flex;
    align-items: center;
    height: 50px;
}
.get-task{
    height: 100%;
    width: 100%;
    display: flex;
    border-top: solid white 2px;
    /* justify-content: space-between; */
}
.add-task-field{
    resize: none;
    border: solid;
    background: none;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    font-size: 0.98rem;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.add-task-button{
    height: 100%;
    width: 100px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    border-left: solid white 2px;
    transition: background-color 0.15s;
}
.add-task-button:hover{
    background-color:#d7c4fd;
    transition: background-color 0.3s;
}
.home-body{
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    color: rgb(82, 82, 82);
}
.stat-chart{
    border: solid;
    width: 100%;
    height: 25rem;
}
.home-content-2{
    display: flex;
    gap: 1.05rem;
    height: 25rem;
    
    width: 100%;
}
.home-content-2>div{
    width: 100%;
    border: solid;
}

@media (max-width:1200px) and (min-width:901px){
    html{
        font-size: 14px;
    }
    .content{
        padding-left: 60px;
        padding-right: 60px;
    }

}
@media (max-width:900px) and (min-width:601px){
    html{
        font-size: 14px;
    }
    .side-panel{
        position:absolute;
        width: 350px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }

}
@media (max-width:900px){
    .side-panel{
        visibility: visible;
    }
    .sidebar-open{
        visibility: hidden;
    }
    .panel-item{
        height: 65px;
    }
}
@media (max-width:600px){
    .panel-item{
        height: 50px;
    }
}
@media (max-width:600px) and (min-width:480px){
    html{
        font-size: 13px;
    }
    .side-panel{
        position:absolute;
        width: 280px;
    }
    .profile{
        height: 80px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 30px;
        padding-right: 30px;
    }

}
@media (max-width:479px){
    html{
        font-size: 13px;
    }
    .side-panel{
        position:absolute;
        width: 260px;
    }
    .profile{
        height: 70px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .add-task-button{
        width: 60px;
    }
}
@media (max-width:450px){
    .task-head{
        font-size: 2rem;
    }
}
.hide{
    display: none;
}