<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div id="header">
            <div class="motivation">Live what you do</div>
        </div>
        <div class="workspaces">
            <div class="side-panel sidebar-open">
                <div class="profile"></div>
                <button class="panel-item home">Home</button>
                <button class="panel-item stat">Statistics</button>
                <button class="panel-item communities">Communities</button>
                <button class="panel-item my-task">My Tasks</button>
                <button type="button" class="side-toggle">|</button>
            </div>
            <div class="content">
                <div class="loading">Loading...</div>
                <div class="detailed-task-panel">
                    <button class="close-task-panel">></button>
                    <input type="text" class="task-title">
                    <textarea class="task-description" id="" cols="30" rows="5"></textarea>
                    
                </div>

                <div class="task-content content-page fade-animation">
                    <div class="content-head">
                        🎯 Tasks
                    </div>
                    <div class="task-container-show">
                    <div class="content-body task-body">
                        <!-- <div class="task-box">
                            <div class="task-det">
                                <div class="task-name"> 
                                    Do Your homeworkk
                                </div>
                                <div class="other-details">
                                    <div class="due-date">10 feb</div>
                                    <div class="ishabit">habit</div>
                                </div>
                            </div>
                            <div class="completion-status">pending</div>
                            <div class="task-box-2">Delete</div>
                        </div> -->
                    </div>

                    <div class="add-task">
                        <div class="bottom-fade"></div>
                        <div class="get-task">
                            <input type="addTask" placeholder="Add Task" class="add-task-field">
                            <button type="button" class="add-task-button">Add</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="home-content content-page hide fade-animation">
                    <div class="content-head">
                        🏠 Home
                    </div>
                    
                        <div class="content-body home-body">
                            <div class="stat-chart">

                            </div>
                            <div class="home-content-2">
                                <div class="home-tasks">

                                </div>
                                <div class="home-comm">

                                </div>
                            </div>

                        </div>
                </div>

                <div class="statistics-content hide content-page fade-animation">
                    <div class="content-head">
                        📈 Statistics
                    </div>

                </div>

                <div class="community-content hide content-page fade-animation">
                    <div class="content-head">
                        🫱🏻‍🫲🏻 Communities
                    </div>
                    <div class="comm-container-show">
                        <div class="content-body comm-body">
                        <div class="comm-box">
                            <div class="comm-det">
                                <div class="comm-name"> 
                                    TOish
                                </div>
                                <div class="other-details">
                                    <div class="isadmin">admin</div>
                                </div>
                            </div>
                            <div class="completion-status">pending</div>
                            <div class="comm-box-2"></div>
                        </div>
                    </div>
                    <button class="add-comm">Add New Community</button>
                </div>
                </div>

            </div>

        </div>
    </div>
    <script src="scripts/script.js"></script>
    <script src="scripts/tasks.js"></script>
    <script src="scripts/communities.js"></script>
</body>

</html>