<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div id="header">
            <div class="motivation">Live what you do</div>
        </div>
        <div class="workspaces">
            <div class="notification hide-notification">
                
            </div>
            <div class="side-panel sidebar-open">
                <div class="profile"></div>
                <button class="panel-item home">Home</button>
                <button class="panel-item stat">Statistics</button>
                <button class="panel-item communities">Communities</button>
                <button class="panel-item my-task">My Tasks</button>
                <button type="button" class="side-toggle">|</button>
            </div>
            <div class="warning">
                <div class="warning-box">
                    <div class="warning-message">This is a warning</div>
                    <div class="warning-choices">
                        <button class="warning-no">NO</button>
                        <button class="warning-yes">YES</button>
                    </div>

                </div>
            </div>
            <div class="content">
                <div class="loading">Loading...</div>
                
                <div class="detail-panel">
                    <button class="close-panel">></button>
                    
                    <div class="task-details-panel hide">
                        <label for="taskDetails">Task Title:</label>
                        <input type="text" name="taskDetails" class="taskDetails">
                        <label for="taskDescription">Description:</label>
                        <textarea name="taskDescription" id="" cols="30" rows="10" class="taskDescription"></textarea>
                        <div class="is-important">
                            <input type="checkbox" name="isImportant" class="isImportant" id="isImportant">
                            <label for="isImportant"> Important</label>
                        </div>
                        <div class="repeat-daily">
                            <input type="checkbox" name="dailyRepeat" id="" class="repeatDaily">
                            <label for="dailyRepeat">Repeat Daily</label>
                        </div>
                        <label for="dueTime">Due Time:</label>
                        <input type="datetime-local" name="dueTime" class="taskDueTime" id="">
                        <button class="saveTask">Save</button>
                    </div>
                    
                </div>

                <div class="task-content content-page fade-animation">
                    <div class="content-head">
                        🎯 Tasks
                    </div>
                    <div class="task-container-show">
                    <div class="content-body task-body">
                        <!-- <div class="task-box">
                            <div class="task-det">
                                <div class="task-name"> 
                                    Do Your homeworkk
                                </div>
                                <div class="other-details">
                                    <div class="due-date">10 feb</div>
                                    <div class="ishabit">habit</div>
                                </div>
                            </div>
                            <div class="completion-status">pending</div>
                            <div class="task-box-2">Delete</div>
                        </div> -->
                    </div>

                    <div class="add-task">
                        <div class="bottom-fade"></div>
                        <div class="get-task">
                            <form action="" class="get-task-form" onsubmit="return null">
                                <input type="addTask" placeholder="Add Task" class="add-task-field" id="add-task-field">
                                <input type="submit" for="add-task-field" class="add-task-button" value="Add">
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="home-content content-page hide fade-animation">
                    <div class="content-head">
                        🏠 Home
                    </div>
                    
                        <div class="content-body home-body">
                            

                        </div>
                </div>

                <div class="statistics-content hide content-page fade-animation">
                    <div class="content-head">
                        📈 Statistics
                    </div>

                </div>

                <div class="community-content hide content-page fade-animation">
                    <div class="content-head">
                        🫱🏻‍🫲🏻 Workspaces
                    </div>
                    <div class="comm-container-show">
                        <div class="content-body comm-body">
                            <!-- <div class="comm-box">
                                <div class="comm-det">
                                    <div class="comm-name"> 
                                        TOish
                                    </div>
                                    <div class="other-details">
                                        <div class="isadmin">admin</div>
                                    </div>
                                </div>
                                <div class="completion-status">pending</div>
                                <div class="comm-box-2"></div>
                            </div> -->
                        </div>
                        <button class="add-comm-btn">Add New Workspace</button>

                        <div  onsubmit="return false;" class="add-community hide">
                            <form action="" method="POST" class="add-comm-form">
                                <label for="commInputName" class="comm_label">Workspace Name:</label><br>
                                <input type="text" name="commInputName" placeholder="Enter Community name"><br>
                                <label for="commDescription" class="comm_label">Description:</label><br>
                                <textarea name="commDescription" id="" placeholder="Write about this community"></textarea><br>
                                <label for="addMember" class="comm_label">Add Member:</label><br>
                                <div class="add-member-div">
                                    <input class="add-member-input" type="text" name="addMember" id="" placeholder="Enter mail of members">
                                    <button class="add-member">Add</button>
                                </div>
                                 <br>
                                <label for="startDate" class="comm_label">Start Date:</label><br>
                                <input type="date" name="startDate" id=""><br>
                                <label for="endDate" class="comm_label">End Date:</label><br>
                                <input type="date" name="endDate" id="">
                                <button class="save-community" value="add-community">Add Workspace</button>
                            </form>
                        </div>

                    </div>

                    
                </div>

            </div>

        </div>
    </div>
    <script src="scripts/script.js"></script>
    <script src="scripts/tasks.js"></script>
    <script src="scripts/workspaces.js"></script>
</body>

</html>