<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <div id="header">
        </div>

        <div class="login-container">
            <div class="login-title">
                Register
            </div>
            <div class="login-mssg">
                Register to start your wonderful journey
            </div>
            <hr>
            <form action="" class="sub-form" method="post">
                <div class="mail-input inp">
                    <input name="mail" type="text" class="usermail" placeholder="email">
                    <div class="usermail-error error">
                    </div>
                </div>
                <br>
                <div class="name-input inp">
                    <input name="username" type="text" class="username" placeholder="username">
                    <div class="name-error error">
                    </div>
                </div>
                <br>
                <div class="pass-input inp">
                    <input name="password" type="password" class="password" placeholder="password">
                    <div class="pass-error error">
                    </div>
                </div>
                
                <input type="submit" class="submit-btn" value="Register">
                <div class="have-acc">
                    <div class="login-info">
                        Have an account? <a href="/login">login</a>
                    </div>

                </div>
            </form>


        </div>
    </div>

</body>

</html>