*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1EAFF;
    height: 100lvh;

}
#header{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48px;
    background-color: #ad89f3;
    border-bottom: solid white 2px;
}
.notification{
    width: 300px;
    /* height: 150px; */
    opacity: 1;
    position: absolute;
    border:solid rgb(104, 103, 103) 2px;
    z-index: 25;
    right: 10px;
    border-radius: 5px;
    background-color: #d7c4fd88;
    backdrop-filter: blur(8px);
    font-size: 1rem;
    padding: 0.5rem;
    transition-property: width, height, opacity, font-size, padding;
    transition-duration: 0.4s;
    
}
.hide-notification{
    width: 0px;
    height: 0px;
    font-size: 0px;
    opacity:0;
    font-size: 0px;

    transition-property: width, height, opacity, font-size, padding;
    transition-duration: 0.4s;
}
.loading{
    position: absolute;
    display: none;
    
    /* background-color: rgba(148, 148, 148, 0); */
}
.display-loading{
    display: block;
    /* filter: blur(8); */
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(8px);
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motivation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    width: 500px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(49, 49, 49);
    /* color: grey; */
}
.workspaces{
    position:relative;
    display: flex;
    width: 100%;
    height: 100%;
    
}

.side-panel{
    /* position: absolute; */
    position: relative;
    height: 100%;
    width: 0px;
    background-color: #d7c4fd;
    border-right: solid white 2px;
    transition: width 0.2s;
    visibility: hidden;
    font-size: 1.1rem;
    font-weight: 500;
    z-index: 20;
}
.panel-item{
    background: none;
    border: none;
    text-decoration: none;
    padding-left: 25px;
    height: 80px;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    transition: background-color 0.15s;
}


.sidebar-open{
    visibility: visible;
    height: 100%;
    width: 350px;
    background-color: #d7c4fd;
    border-right: solid white 2px;
    transition: width 0.2s;
}

.side-toggle{
    visibility: visible;
    position:absolute;
    height: 40px;
    width: 30px;
    border: none;
    /* border: white solid 2px; */
    right: -30px;
    top:calc(100% / 2.3);
    top: 50%;
    background: none;
    font-size: 30px;
    font-weight: bold;
    /* margin: 0 auto; */
    color: rgb(170, 168, 168);
    transition: color 0.1s;
}


.profile{
    width: 100%;
    height: 100px;
    border-bottom: solid white 2px;
}
.content{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    /* border: solid; */
    width: 100%;
}
.content-head{
    height: 100px;
    padding: 15px 0px;
    font-size: 3.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.content-body::-webkit-scrollbar {
    display: none;
}
.content-body{
    /* border: solid; */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.task-container-show, .comm-container-show{
    position: relative;
    height: calc(100vh - 48px - 150px);
    width: 100%;
    /* border: solid; */
}

.add-task{
    position: absolute;
    /* border: solid; */
    display: flex;
    align-items: center;
    height: 50px;
    bottom: -50px;
    width: 100%;
}
.add-comm-btn{
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    bottom: -50px;
    width: 100%;
    background: none;
    border: solid rgb(109, 109, 109) 2px;
    border-radius: 5px;
    background-color: #d7c4fd;
    transition: background-color 0.2s;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
.get-task{
    height: 100%;
    width: 100%;
    display: flex;
    border-top: solid white 2px;
    /* justify-content: space-between; */
}
.get-task-form{
    height: 100%;
    width: 100%;
    display: flex;
}
.add-task-field{
    resize: none;
    border: solid;
    background: none;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    font-size: 0.98rem;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.add-task-button{
    height: 100%;
    width: 100px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    border-left: solid white 2px;
    transition: background-color 0.15s;
}
.task-details-panel{
    /* border: solid; */
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.important-tag{
    color: red;
}
.task-details-panel input, .task-details-panel textarea{
    height: 2rem;
    background: none;
    font-size: 1.1rem;
    padding-left: 0.2rem;
    outline: none;
    border: none;
    border-bottom: solid rgb(83, 83, 83) 2px;
    margin-bottom: 2rem;
}
.task-details-panel textarea{
    resize: none;
    height: 6rem;
    
    border: solid rgb(80, 80, 80) 1px;
    border-bottom: solid rgb(77, 77, 77) 2px;
}
.task-details-panel label{
    font-size: 1.3rem;
    font-weight: 400;
}
.task-details-panel > button{
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    padding: 0 0.5rem;
    border:solid rgb(104, 103, 103) 2px;
    background: none;
    border-radius: 4px;
    background-color: #d7c4fd;
    transition: background-color 0.2s;
    font-size: 1rem;
}
.is-important, .repeat-daily{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.is-important>input, .repeat-daily>input{
    margin:auto 0;
    appearance: none;
    height: 1rem;
    border-radius: 5px;
    border: 2px solid rgb(73, 73, 73);
    width: 1rem;
    transition: 100ms ease-in;
    cursor: pointer;
}
.is-important>input:checked, .repeat-daily>input:checked{
    border: solid #ac8deb;
    background-color: #ac8deb;
    transition: 100ms;
}
.home-body{
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    color: rgb(82, 82, 82);
}
.stat-chart{
    border: solid;
    width: 100%;
    height: 25rem;
}
.home-content-2{
    display: flex;
    gap: 1.05rem;
    height: 25rem;
    
    width: 100%;
}
.home-content-2>div{
    width: 100%;
    border: solid;
}
.fade-animation{
    animation: fade-in 0.158s;
}
.bottom-fade{
    z-index: 2;
    position: absolute;
    width: 105%;
    top: -2rem;
    height: 2rem;
    /* border: solid; */
    background: linear-gradient(rgba(255, 255, 255, 0), #F1EAFF);
}
.task-box, .comm-box{
    position: relative;
    border: solid rgb(109, 109, 109) 2px;
    border-radius: 5px;
    display: flex;
    height: 4rem;
    margin-top: 0.8rem;
    padding-left: 0.8rem;

}
.task-name>input{
    appearance: none;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid rgb(73, 73, 73);
    width: 1rem;
    transition: 100ms ease-in;
    cursor: pointer;
    margin: auto 0;
    margin-right: 0.5rem;
}
.task-name>input:checked{
    border: solid #ac8deb;
    background-color: #ac8deb;
    transition: 100ms;
}
.delete-task-btn{
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: auto 0;
    margin-right: 0.5rem;
}
.task-box-2, .comm-box-2{    

    right: 0px;
    z-index: 1;
    width: 0;
    height: 100%;
    background: none;
    border: none;
    background-color: rgb(238, 81, 81);
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    font-size: 1.1rem;
    transition: width 0.2s;
    /* padding-left: 1rem; */
}
.task-det, .comm-det{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.task-name, .comm-name{
    width: 100%;
    font-size: 1.1rem;
    display: flex;

    height: 1.5rem;
    overflow:hidden;
}
.completion-status{
    width: 10%;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}
.other-details{
    display: flex;
    gap: 0.7rem;
    font-size: 0.9rem;
    /* width: 100px; */
    /* border: solid; */
}
.hide-extra-details{
    display: none;
}
.invisible-task-box{
    opacity: 0;
    /* visibility: none; */
}
.detail-panel{
    /* visibility: hidden; */
    /* display: none; */
    width: 0px;
    z-index: 8;
    position: absolute;
    right: 0;
    opacity:0;
    height: 100%;
    border-left: solid white 2px;
    background-color: #d7c4fd3d;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    padding: 0rem;
    transition-property: width, opacity;
    transition-duration: 0.4s;
    overflow-y:scroll;
}
.detail-panel{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.task-description{
    resize: none;
}
.detail-panel-open{
    /* visibility: visible; */
    display: flex;
    width: 40rem;
    opacity: 1;
    padding: 2rem;
    transition-property: width, opacity;
    transition-duration: 0.4s;
}
.close-panel{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    font-size: 2rem;
    font-weight: 500;
    background: none;
    border: none;
    color: rgb(116, 116, 116);
    transition: color 0.15s;
}
.add-community{
    /* background-color: #d7c4fd; */
    /* border: solid white 2px; */
    display: flex;
    height: 100%;
    width: 50rem;
    display: flex;
    /* margin: 0 auto; */

    display: flex;
    padding: 1.2rem;
}
.add-comm-form{
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.add-comm-form::-webkit-scrollbar {
    display: none;
}
.add-comm-form label{
    font-size: 1.2rem;
}
.add-comm-form input, .add-comm-form textarea{
    border: none;
    outline: none;
    border-bottom: solid rgb(104, 103, 103) 2px;
    /* border-radius: 4px; */
    background-color: #F1EAFF;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    height: 2rem;
    width: 100%;
    font-size: 1.1rem;
    padding-left: 0.3rem;
}
.add-comm-form textarea{
    border: solid rgba(0, 0, 0, 0.384) 1px;
    border-bottom: solid rgb(104, 103, 103) 2px;
    resize: none;
    height: 6rem;
    border-radius: 4px;
}
.add-member-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    margin-bottom: 2rem;
}
.add-member-div>input{
    width: 80%;
}
.add-member-div>button{
    width: 15%;
    height: 110%;
    border:solid rgb(104, 103, 103) 2px;
    background: none;
    border-radius: 4px;
    background-color: #d7c4fd;
    transition: background-color 0.2s;
    font-size: 1rem;
}
.save-community{
    height: 2.1rem;
    padding: 0 0.5rem;
    border:solid rgb(104, 103, 103) 2px;
    background: none;
    border-radius: 4px;
    background-color: #d7c4fd;
    transition: background-color 0.2s;
    font-size: 1rem;
}
.task-box-checkbox{
    position: absolute;
    left: -7px;
    appearance: none;
    height: 1rem;
    border-radius: 5px;
    border: 2px solid rgb(73, 73, 73);
    width: 1rem;
    transition: 100ms ease-in;
    cursor: pointer;
}
.task-box-checkbox:checked{
    border: solid #ac8deb;
    background-color: #ac8deb;
    transition: 100ms;
}
.warning{
    
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 500;
    justify-content: center;
    align-items: center;
    display: none;
}
.warning-box{
    position: relative;
    min-height: 200px;
    width: 450px;
    border: solid red 2px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    flex-direction: column;
    justify-content: space-between;
}
.warning-message{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.warning-choices{
    /* border: solid; */
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}
.warning-choices>button{
    background:none;
    outline: none;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 4px;
    padding: 0.1rem 0.4rem;
    color: black;
    transition: 0.2s;
    font-size: 1.1rem;
}

.show-warning{
    display: flex;
}
@media (hover: hover){
    .delete-task-btn{
        display: none;
    }
    .panel-item:hover{
        color: rgb(49, 49, 49);
        
        background-color: #bc9ef7;
        transition: background-color 0.2s;
    }
    .side-toggle:hover{
        color: black;
        transition: 0.2s;
    }
    .add-task-button:hover{
        background-color:#d7c4fd;
        transition: background-color 0.3s;
    }
    .task-box:hover .task-box-2, .comm-box:hover .comm-box-2{
        display: flex;
        width: 10%;
        transition: width 0.2s;
        padding-left: 0.8rem;
    }
    .task-box:hover .task-det, .comm-box:hover .comm-det{
        width: 80%;
        transition: width 0.2s;
    }
    .close-panel:hover{
        color: black;
        transition: color 0.15s;
    }
    .add-comm-btn:hover{
        background-color: #ac8deb;
        transition: background-color 0.2s;
    }
    .add-member-div>button:hover, .save-community:hover{
        background-color: #ac8deb;
        transform: background-color 0.2s;
    }
    .task-details-panel>button:hover, .warning-choices>button:hover{
        background-color: #ac8deb;
        transition: background-color 0.2s;
    }

}
@media (hover: none){
    .panel-item:focus-visible{
        color: rgb(49, 49, 49);
    }
}
@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity:1;
    }

}
@media (max-width:1200px) and (min-width:901px){
    html{
        font-size: 14px;
    }
    .content{
        padding-left: 60px;
        padding-right: 60px;
    }
    .task-det{
        width: 85%;
    }
    .completion-status{
        width: 15%;
    }

}
@media (hover: hover) and (max-width:1200px){
    .task-box:hover .task-det{
        width: 70%;
        transition: width 0.2s;
    }
    .task-box:hover .completion-status{
        width: 15%;
        transition: width 0.2s;
    }
    .task-box:hover .task-box-2{
        width: 15%;
        transition: width 0.2s;
    }
}
@media (max-width:1270px){
    .add-community{
        width: 100%;
    }
}
@media (max-width:1000px){
    .detail-panel-open{
        width: 32rem;
    }
}

@media (max-width:900px) and (min-width:601px){
    html{
        font-size: 14px;
    }
    .side-panel{
        position:absolute;
        width: 350px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
    

}
@media (max-width:900px){
    .side-panel{
        visibility: visible;
    }
    .sidebar-open{
        visibility: hidden;
    }
    .panel-item{
        height: 70px;
    }
    .task-det{
        width: 84%;
    }
    .completion-status{
        width: 16%;
        font-size: 0.8rem;
    }
}
@media (hover: hover) and (max-width:900px){
    .task-box:hover .task-det{
        width: 60%;
        transition: width 0.2s;
    }
    .task-box:hover .completion-status{
        width: 20%;
        transition: width 0.2s;
    }
    .task-box:hover .task-box-2{
        width: 20%;
        transition: width 0.2s;
    }
}
@media (max-width:600px){
    .panel-item{
        height: 60px;
    }
    .detail-panel-open{
        width: 30rem;
        backdrop-filter: blue(13px);
    }
    .other-details{
        font-size: 0.7rem;
    }
    .notification{
        width: 150px;
    }
    .warning{
        width: 320px;
    }
}
@media (max-width:600px) and (min-width:480px){
    html{
        font-size: 13px;
    }
    .side-panel{
        position:absolute;
        width: 280px;
    }
    .profile{
        height: 80px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 30px;
        padding-right: 30px;
    }

}
@media (max-width:500px){
    .detail-panel-open{
        width: 100vw;
    }
}
@media (max-width:479px){
    html{
        font-size: 13px;
    }
    .side-panel{
        position:absolute;
        width: 260px;
    }
    .profile{
        height: 70px;
    }
    .sidebar-open{
        width: 0px;
    }
    .content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .add-task-button{
        width: 60px;
    }
    .content-head{
        font-size: 2.6rem;
    }
}
@media (max-width:450px){
    .task-head{
        font-size: 2rem;
    }
}
.hide{
    display: none;
}